*~
*.DS_Store
tests/main.spec/require.js

tests/main.spec/main.spec8.js

tests/main.spec/main.spec9.js

tests/main.spec/main.spec7.js

tests/main.spec/main.spec6.js

tests/main.spec/jasmine-html.js

tests/main.spec/jasmine.css

tests/main.spec/jasmine.js

tests/main.spec/main.spec.html

tests/main.spec/main.spec0.js

tests/main.spec/main.spec1.js

tests/main.spec/main.spec2.js

tests/main.spec/main.spec3.js

tests/main.spec/main.spec4.js

tests/main.spec/main.spec5.js

samples/jasmine_test/*

samples/qunit_test/*

