<!DOCTYPE html>
<html lang="en">
<head>
<title>{{title}}</title>
<style type="text/css">
    .command. .details, .content, .section { font-family: "Arial", Arial, sans-serif; }
    .command { font-size: 1.2em; min-width: 110px; display: inline-block; }
    .details { font-size: 1.0em;  padding: 5px; }
    .content { font-size: .8em; background:#e6e6e6; border: 3px solid #cccccc; padding: 5px; resize:both; position:relative; overflow:auto; height:80px; width:600px; }
    .section { display:none; }
</style>
</head>
<body>
<span class="command">Tests</span><span class="details">{{tests}}</span><br>
<span id="entrypoint"></span>
</body>
</html>